.header {
    font-size: 20px;
    color: #000;
    float: left;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px #e8e8e8 solid;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.mt-60 {
    margin-top: 60px;
}
.top {
    background-color: #979ce2;
    width: 100%;
    display: flex;
    padding: 10px;
}
.photo-size {
    height: 20px;
    width: 20px;
    margin: 16px;
}
.tittle {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    float: left;
    margin-top: 7px;
}
.bottom {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    height: 145px;
    overflow: hidden;
    background: #ededed;
    position: relative;
}
ol, ul {
    list-style: none;
}
.all-chapter {
    float: left;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    margin: 0px;
    position: relative;
    overflow: hidden;
    max-height: 85px;
    margin: 0 !important;
}
.single-chapter {
    float: left;
    width: 25%;
    padding: 0px 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: center;
}
a {
    color: #000;
    font-size: 16px;
    line-height: normal;
}
a:hover {
        text-decoration: none;
}
.chapter-number {
    font-size: 20px;
    color: #00aeef;
}

.single-chapter:hover a.chapter-text b.chapter-number {
    color: #83c928;
   
}

.single-chapter:hover a {
    color: #83c928;
}


/* START CARD SECTION */
.text-img {
    display: flex;
    width: 100%;
    background-image: url(img/img-subject-test-block-bg.jpg);
    float: left;
    width: 100%;
    height: 170px;
    overflow: hidden;
    border-radius: 3px;
    margin: 20px 0px;
    background-color: #07468b;
    padding: 10px 35px;
    box-sizing: border-box;
}
.text{
    width: 70%;
}
.img {
    float: right;
    width: 25%;
    text-align: right;
    margin-top: 15px;
}

.sub-header {
    float: left;
    width: 100%;
    font-size: 30px;
    color: #fff;
    line-height: normal;
    margin: 15px 0px 20px;
}
.sub-btn {
    float: left;
    width: 100%;
    text-align: left;
}
.custom-btn {
    background: #83c928;
    color: #fff;
    border-radius: 3px;
    line-height: normal;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 15px;
    text-align: center;
    box-sizing: border-box;
}
.custom-btn:hover {
    background: #fff;
    color: #83c928;
}
/* END CARD SECTION */

