﻿@model OnlineTest.ViewModels.VmSubjectAdd
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<div class="block-header">
    <h2>Service</h2>
</div>

<!-- Vertical Layout -->

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    SUBJECTS
                </h2>
            </div>
            <div class="body">
                @using (Html.BeginForm("Add", "Subject", FormMethod.Post, new { @class = "form form-horizontal", enctype = "multipart/form-data", @autocomplete = "off", onSubmit = "return ValidateFormData()", onReset = "return ResetForm()" }))
                {
                    <form>
                        @Html.AntiForgeryToken()


                        @Html.HiddenFor(m => m.Id)
                        <label for="Testimonial_PostedByName">Name</label>
                        <div class="form-group">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Name" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                    </form>

                }

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
                //$(document).ready(function () {
                //    $('.js-example-basic-single').select2();
                //});
    </script>
}